@import '../../styles/theme.scss';

.user {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
    margin-top: 20px;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    .activities {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 20px;
    }

    &:not(:last-child) .textActivities {
        padding-bottom: 10px;
    }

    &:last-child hr {
        display: none;
    }

    &:not(:last-child) hr {
        display: inline-block;
        border: none;
        height: 0.5px;
        background-color: lightgrey;
        width: 100%;
    }

    &.theme-dark {
        $curTheme: "dark";
        color: themed($curTheme, "textColor");

        .activities {
            color: themed($curTheme, "textColorSoft");
        }
    }
    &.theme-light {
        $curTheme: "light";
        color: themed($curTheme, "textColor");

        .activities {
            color: themed($curTheme, "textColorSoft");
        }
    }
}

.textActivities {
    font-weight: 400;
    font-size: 0.875rem;
}

.textTimeActivities {
    font-weight: 400;
    font-size: 0.75rem;
}

.textClass {
    font-weight: 500;
}

.emptyActivities {
    font-weight: 400;
    font-size: 0.875rem;
    margin-top: 20px;
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.isErrorLoading {
    margin: 30px 0;
    padding: 10px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #d8929280;
    color: #ac4d4d;

    .MuiAlert {
        width: 22px;
        height: 22px;
        margin-right: 10px;
    }
}