@import '../../styles/responsive.scss';

.register {
    height: 100vh;
    background-color: rgb(193, 190, 255);
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
        height: 100%;
    }
}

.card {
    display: flex;
    background-color: white;
    width: 50%;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;

    @include mobile {
        width: 100%;
        margin: 10px;
        flex-direction: column-reverse;
        overflow-y: scroll;
        padding-top: 10px;
        padding-left: 10px;

        @supports (-webkit-touch-callout: none) and (not (translate: none)) {
            padding: 0;
        }
    }
    @include tablet {
        width: 100%;
        margin: 10px;
        flex-direction: column-reverse;
        overflow-y: scroll;
    }

    .leftSection {
        flex: 1 1 0;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;

        h1 {
            font-size: 2rem;
            color: #555;
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        .inputForm {
            padding: 20px;
            @include mobile {
                @supports (-webkit-touch-callout: none) and (not (translate: none)) {
                        &:not(:last-child) {
                        margin-bottom: 30px;
                    }
                }
            }
        }

        .regButton {
            background-color: #938eef;
            color: white;
            width: 60%;
            padding: 10px;
            align-self: center;
            
            @include mobile {
                align-self: center;
            }
            @include tablet {
                width: 30%;
            }
        }
        .regButton:hover {
            background-color: rgb(131, 93, 178);
        }
        .regButton:active {
            background-color: rebeccapurple;
        }
        .regButton:disabled {
            background-color: grey;
        }
    }

    .rightSection {
        flex: 1 1 0;
        background: url(../../assets/images/bg-for-login.jpeg) center rgba(39,11,96, 0.5);
        background-blend-mode: multiply;
        background-size: cover;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: white;

        @include mobile {
            padding: 50px 20px;
            background-size: cover !important;
        }

        h1 {
            font-size: 5rem;
            line-height: 5rem;

            @include mobile {
                text-align: center;
            }
        }

        p {
            font-size: 1rem;
        }

        span {
            font-size: 0.875rem;
        }

        .loginButton {
            background-color: white;
            color: rebeccapurple;
            font-weight: bold;
            padding: 10px;

            @include tablet {
                width: 30%;
            }
        }

    }
}
