@import '../../../styles/responsive.scss';

.story {
    flex: 1 0 40%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    @include mobile {
        flex: none;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    @include tablet {
        flex: 1 0 30%;
    }

    .imgStory {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .nameUser {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: white;
        font-weight: 500;

        @include mobile {
            display: none;
        }
    }

    @supports (-webkit-touch-callout: none) and (not (translate: none)) {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}

.pointer {
    cursor: pointer;
}
