@import '../../../styles/theme.scss';

.menu {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 0.875rem;
    font-weight: normal;
    z-index: 2;

    .contentWindow {
        min-width: 170px;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        border-radius: 10px;

        .button {
            width: 100%;
            padding: 0.5rem;
            border-radius: 10px;
        }
        @media (hover: hover) {
            .button:hover {
                cursor: pointer;
            }
        }

        &.theme-dark {
            $curTheme: "dark";
            background-color: themed($curTheme, "background");
            color: themed($curTheme, "textColor");
            border: 2px solid themed($curTheme, "border");

            @media (hover: hover) {
                .button:hover {
                    background-color: rgb(140, 140, 140);
                }
            }
        }

        &.theme-light {
            $curTheme: "light";
            background-color: themed($curTheme, "background");
            color: themed($curTheme, "textColor");
            border: 2px solid themed($curTheme, "border");

            @media (hover: hover) {
                .button:hover {
                    background-color: rgb(229, 227, 227);
                }
            }
        }
    }
}
