.isError {
    width: 100%;
    margin: 0 auto;
    padding: 4px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #d8929280;
    color: #ac4d4d;

    .MuiAlert {
        font-size: 0.7rem;
        width: 15px;
        height: 15px;
        margin-right: 7px;
    }
}