@import '../../styles/responsive.scss';

.login {
    height: 100%;
    background-color: rgb(193, 190, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.card {
    width: 60%;
    min-height: 85vh;
    display: flex;
    border-radius: 10px;
    background-color: white;

    @include mobile {
        width: 100%;
        min-height: 50vh;
        margin: 15px;
        padding: 30px 0;
        overflow-y: auto;
    }

    @include tablet {
        width: 100%;
        min-height: 40vh;
        margin: 20px;
        padding: 30px 0;
        overflow-y: auto;
    }

    .leftSection {
        flex: 1 1 0;
        background: url(../../assets/images/bg-for-login.jpeg) center rgba(39, 11, 96, 0.5);
        background-blend-mode: multiply;
        background-size: cover;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        color: white;

        h1 {
            font-size: 2rem;
            line-height: 3.25rem;
        }

        p {
            font-size: 1rem;
        }

        span {
            font-size: 0.875rem;
        }

        .regButton {
            background-color: white;
            color: rebeccapurple;
            font-weight: bold;
            padding: 10px;
        }
    }

    .rightSection {
        flex: 1 1 0;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;

        @include mobile {
            padding: 1rem;

            @supports (-webkit-touch-callout: none) and (not (translate: none)) {
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
        }

        @include tablet {
            padding: 1.5rem;

            @supports (-webkit-touch-callout: none) and (not (translate: none)) {
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
        }

        h1 {
            font-size: 2rem;
            color: #555;

            @include mobile {
                text-align: center;
            }

            @include tablet {
                text-align: center;
            }
        }

        h2 {
            color: #555;
            text-align: center;
            padding-top: 10px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 30px;

            @include mobile {
                @supports (-webkit-touch-callout: none) and (not (translate: none)) {
                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }
                }
            }
        }

        .inputForm {
            padding: 20px;

            @include mobile {
                @supports (-webkit-touch-callout: none) and (not (translate: none)) {
                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }
                }
            }
        }

        .wrapperButton {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            @include mobile {
                gap: 10px;

                @supports (-webkit-touch-callout: none) and (not (translate: none)) {
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }
            }

            @include tablet {
                justify-content: center;
                gap: 20px;

                @supports (-webkit-touch-callout: none) and (not (translate: none)) {
                    &:not(:last-child) {
                        margin-right: 20px;
                    }
                }
            }
        }

        .loginButton {
            background-color: #938eef;
            color: white;
            padding: 10px;
            width: 50%;

            @include mobile {
                align-self: center;
                width: 140px;
            }

            @include tablet {
                align-self: center;
                width: 140px;
            }
        }

        @media (hover: hover) {
            .loginButton:hover {
                background-color: rgb(131, 93, 178);
            }
        }

        .loginButton:active {
            background-color: rebeccapurple;
        }

        .loginButton:disabled {
            background-color: grey;
        }
    }
}