@import '../../styles/responsive.scss';
@import '../../styles/theme.scss';
@import '../../components/Layout/sizeCoontainer.scss';

.messengerContainer {
    padding: 10px 30px;
    font-size: 0.875rem;
    overflow-y: hidden;
    height: 100vh;

    @include mobile {
        padding: 10px;
    }

    .mainWrapper {
        box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        border-radius: 20px;
        max-height: calc(100vh - 80px);
        overflow-y: auto;
    }

    .mainWrapper::-webkit-scrollbar-thumb {
        background-color: grey;
    }

    .wrapper {
        padding: 20px 20px 20px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        overflow-y: auto;

        .search {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
            border-radius: 5px;
            padding: 5px;
            margin-top: 15px;

            @include mobile {
                margin: 10px 0 0 0;
            }

            @include tablet{
                margin: 15px 0 0 0;
            }

            .inputSearch {
                width: 100%;
                border: none;
                background-color: transparent;
            }

            .resetSearchBtn {
                padding: 4px;
                border-radius: 4px;
                background-color: #556fe3da;
                color: white;
            }
            .resetSearchBtn:hover,
            .resetSearchBtn:active {
                background-color: #102db0c1;
            }

        }

        .notFound {
            font-weight: 400;
        }

        .wrapperConversations {
            width: 100%;
        }

    }

    &.theme-dark {
        $curTheme: "dark";
        background-color: themed($curTheme, "bgSoft");
        color: themed($curTheme, "textColor");

        .mainWrapper::-webkit-scrollbar-track {
            border: 3px solid themed($curTheme, "bgSoft");
            border-radius: 20px;
            background: themed($curTheme, "bgSoft");
        }

        .search {
            border: 1px solid themed($curTheme, "border");

            .inputSearch {
                color: themed($curTheme, "textColor");
            }
        }

        .mainWrapper {
            background-color: themed($curTheme, "background");
        }

        .wrapper.headerWrapper {
            background-color: themed($curTheme, "background");
        }
    }

    &.theme-light {
        $curTheme: "light";
        background-color: themed($curTheme, "bgSoft");
        color: themed($curTheme, "textColor");

        .mainWrapper::-webkit-scrollbar-track {
            border: 3px solid themed($curTheme, "bgSoft");;
            border-radius: 20px;
            background: themed($curTheme, "bgSoft");;
        }

        .search {
            border: 1px solid themed($curTheme, "border");

            .inputSearch {
                color: themed($curTheme, "textColor");
            }
        }

        .mainWrapper {
            background-color: themed($curTheme, "background");
        }

        .wrapper.headerWrapper {
            background-color: themed($curTheme, "background");
        }
    }
}

.wrapper.headerWrapper {
    position: sticky;
    top: 0;
    z-index: 10;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-bottom: 5px;

    .filler {
        width: 100%;
        height: 25px;
    }
}

.wrapper.listConversations {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 0;
}

.itemConversation:hover.theme-dark {
    background-color: #102db0c1;
}

.itemConversation:hover {
    background-color: rgba(172, 213, 248, 0.4);
}