@import '../../styles/theme.scss';

.user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;

    &.theme-dark {
        $curTheme: "dark";
        color: themed($curTheme, "textColor");
    }
    &.theme-light {
        $curTheme: "light";
        color: themed($curTheme, "textColor");
    }

    &:not(:last-child) {
        margin-bottom: 20px;
    }

}

.avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.infoUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;

    .link {
        margin: 0;
        padding: 0;
        cursor: pointer;
        text-decoration: none;
        color: inherit;
        font-size: 0.875rem;
        font-weight: 500;
    }

    .textOfCard {
        font-weight: 400;
        font-size: 0.875rem;
    }

    .wrapperBtns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .Btn {
            padding: 5px;
            border-radius: 5px;
            background-color: #556fe3da;
            color: white;
        }
        .Btn:hover,
        .Btn:active {
            background-color: #102db0c1;
        }
    }

}

.emptyActivities {
    font-weight: 400;
    font-size: 0.875rem;
    margin-top: 20px;
}

.isErrorLoading {
    margin: 30px 0;
    padding: 10px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #d8929280;
    color: #ac4d4d;

    .MuiAlert {
        width: 22px;
        height: 22px;
        margin-right: 10px;
    }
}