@import '../assets//fonts/fonts.css';

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

.App {
    font-size: 1rem;
    font-family: 'Roboto', 'sans-serif';
    font-weight: normal;
}
