@import '../../../styles/theme.scss';
@import '../../../styles/responsive.scss';

.comments {

    .iconUser {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }

    .writeComment {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin: 20px 0;

        .input {
            flex: 5;
            padding: 10px;
            background-color: transparent;
        }

        .btn {
            border: none;
            background-color: #5271ff;
            color: white;
            padding: 10px;
            cursor: pointer;
            border-radius: 3px;

            @include mobile {
                display: none;
            }
        }
        
        .mobileBtnSend {
            display: none;
            @include mobile {
                width: 45px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                background-color: #5271ff;
                padding: 10px;
                cursor: pointer;
                border-radius: 3px;
            }
        }
    }

    .comment {
        margin: 30px 0px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
  
        .info {
          flex:5;
          display: flex;
          flex-direction: column;
          gap: 3px;
          align-items: flex-start;
  
          .username {
            font-weight: 500;
            text-decoration: none;
            color: inherit;
          }
  
        }

        .commDesc {
            font-size: 0.875rem;
        }

        .date{
            flex:1;
            align-self: center;
            font-size: 0.75rem;
        }
    }

    &.theme-dark {
        $curTheme: "dark";
        .input {
            border: 1px solid themed($curTheme, "border");
            color: themed($curTheme, "textColor");
        }
        .date{
            color: white;
        }
        .commDesc {
            color: themed($curTheme, "textColorSoft");
        }
    }

    &.theme-light {
        .input {
            border: 1px solid themed($curTheme, "border");
            color: themed($curTheme, "textColor");
        }
        .date{
            color: grey;
        }
        .commDesc {
            color: themed($curTheme, "textColorSoft");
        }
    }
}