@import '../../../styles/responsive.scss';

.messageItem {
    max-width: 550px;
    padding: 10px;
    margin: 0;
    margin-top: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;

    @include mobile {
        max-width: 310px;
    }

    @include tablet {
        max-width: 510px;
    }

    .messageInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;

        .username {
            font-weight: 500;
        }

        .wrapperDateMsg {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;

            .time {
                font-size: 0.75rem;
            }
        }
    }

    .messageContent {
        font-size: 0.875rem;

        .img {
            width: 100%;
            min-height: 300px;
            object-fit: cover;
        }

        .text {
            word-wrap: break-word;
        }
    }
}

.messageItem:last-child {
    margin-bottom: 10px;
}

.msgStatus {
    border: none;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background-color: transparent;
}

.wrapperMsgStatus {
    align-self: end;
    justify-self: center;
    width: 21px;
    height: 21px;
}

.msgStatusIcon {
    width: 17px;
    height: 17px;
}

@keyframes change-style-read-status-msg {
    0% {
        background-color: #5271ff;
    }

    50% {
        background-color: #bdc5ed;
    }

    100% {
        background-color: transparent;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .msgIsRead {
        animation-name: change-style-read-status-msg;
        animation-duration: 2s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        border: none;
        border-radius: 50%;
        width: 7px;
        height: 7px;
        background-color: #5271ff;
    }
}