@import '../../styles/responsive.scss';
@import '../../components/Layout/sizeCoontainer.scss';

.home {
    overflow: hidden;
    height: calc(100vh - $topBar);

    .wrapper {
        height: 100%;
        overflow-y: auto;
        padding: 20px 30px;

        @include mobile {
            padding: 10px;
        }

        @include tablet {
            padding: 20px;
        }
    }
}