@import '../../styles/theme.scss';

.wrapper {
    display: flex;
    align-items: center;
}

.logoText:not(.theme-dark) {
    $curTheme: "light";
    color: themed($curTheme, "logo");
}

.logoText {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    margin-right: 10px;

    &.theme-dark {
        $curTheme: "dark";
        color: themed($curTheme, "logo");
    }
}