@import '../../styles/theme.scss';


.post {
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;

    &.theme-dark {
        $curTheme: "dark";
        background-color: themed($curTheme, "background");
        color: themed($curTheme, "textColor");
    }

    &.theme-light {
        $curTheme: "light";
        background-color: themed($curTheme, "background");
        color: themed($curTheme, "textColor");
    }

    .container {
        padding: 20px;
    }
}

