@import '../../styles/theme.scss';
@import '../../styles/responsive.scss';

.post {
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;

    &.theme-dark {
        $curTheme: "dark";
        background-color: themed($curTheme, "background");
        color: themed($curTheme, "textColor");
    }

    &.theme-light {
        $curTheme: "light";
        background-color: themed($curTheme, "background");
        color: themed($curTheme, "textColor");
    }

    .container {
        padding: 20px;

        @include tablet {
            padding: 14px;
        }

        @include mobile {
            padding: 10px;
        }
    }

    @supports (-webkit-touch-callout: none) and (not (translate: none)) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}