.link {
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

.menuElem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.iconMenu {
    width: 30px;
}

.styleText {
    font-size: 0.875rem;
}