@import '../../styles/responsive.scss';
@import '../../styles/theme.scss';

.container {
    font-size: 0.875rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    .wrapper:first-child {
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }

    .wrapper:not(:first-child) {
        border-radius: 15px;
    }

    .wrapper:not(:last-child) {
        margin-bottom: 15px;
    }

    .wrapper {
        width: 100%;
        box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        overflow-y: scroll;
        
        .header {
            font-weight: 400;
        }

        hr {
            margin: 5px 0 10px 0;
            border: none;
            height: 0.5px;
            width: 100%;
        }

        .activityInfo {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .userInfo {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 20px;

                .avatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
        
                    @include mobile {
                        @supports (-webkit-touch-callout: none) and (not (translate: none)) {
                                &:not(:last-child) {
                                margin-right: 20px;
                            }
                        }
                    }
                }

                .details {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    
                    p:nth-child(2) {
                        margin-top: 5px;
                    }

                    .username {
                        font-weight: 500;
                    }
                }
            }

            .date {
                font-size: 0.75rem;
            }
        }

        .activityContent {
            width: 100%;
            margin-top: 15px;
            
            .imgPost {
                width: 100%;
                max-height: 500px;
                object-fit: cover;
            }

            .imgPost.notEmpty {
                margin-top: 20px;
            }   
        }

        .link {
            text-decoration: none;
            color: inherit;
        }
        
    }


    &.theme-dark {
        $curTheme: "dark";

        .wrapper {
            background-color: themed($curTheme, "background");
            color: themed($curTheme, "textColor");

            hr {
                background-color: themed($curTheme, "border");
            }
        }
    }

    &.theme-light {
        $curTheme: "light";
        
        .wrapper {
            background-color: themed($curTheme, "background");
            color: themed($curTheme, "textColor");

            hr {
                background-color: themed($curTheme, "border");
            }
        }
    }

}