@import '../../../styles/responsive.scss';

.content {
    margin: 20px 0;

    .imgPost {
        width: 100%;
        max-height: 500px;
        object-fit: cover;
        margin-top: 20px;
    }
}

.content.hideTopMargin {
    margin: 0 0 20px 0;
}

.hideText {
    height: 0;
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    @supports (-webkit-touch-callout: none) and (not (translate: none)) {
        &>*:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include mobile {
        justify-content: space-between;
    }

    .item {
        display: flex;
        align-items: center;
        gap: 7px;
        cursor: pointer;
        font-size: 0.875rem;

        @supports (-webkit-touch-callout: none) and (not (translate: none)) {
            &>*:not(:last-child) {
                margin-right: 7px;
            }
        }

        .mobileInfo {
            display: none;

            @include mobile {
                display: block;
            }
        }

        .commInfo {
            display: block;

            @include mobile {
                display: none;
            }
        }

        .shareInfo {
            display: block;

            @include mobile {
                display: none;
            }
        }
    }
}

.errorShared {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    @supports (-webkit-touch-callout: none) and (not (translate: none)) {
        &>*:not(:last-child) {
            margin-right: 10px;
        }
    }
}

.wrapperPopup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 300px;
    min-width: 250px;
    gap: 10px;
    overflow: auto;

    &>p {
        width: 100%;
        padding: 7px;
        cursor: pointer;
    }

    &>p:hover {
        background-color: rgba(172, 213, 248, 0.4);
    }

    &.theme-dark>p:hover {
        background-color: #102db0c1;
    }

    @supports (-webkit-touch-callout: none) and (not (translate: none)) {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}