@import '../Layout/sizeCoontainer.scss';
@import '../../styles/theme.scss';
@import '../../styles/responsive.scss';


.rightBar {
    flex: 3;
    position: sticky;
    top: $heightNav;
    height: calc(100vh - $topBar);

    @include mobile {
        display: none;
    }

    @include tablet {
        display: none;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    .container {
        padding: 10px 20px 20px 20px;

        .item {
            -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
            -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
            box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
            padding: 20px;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            .headerItem {
                font-size: 1rem;
                font-weight: 400;
            }
        }

        .item.suggestions {
            max-height: 335px;
            overflow-y: auto;
        }

        .item.activities {
            max-height: 350px;
            overflow-y: auto;
        }
    }

    &.theme-dark {
        $curTheme: "dark";
        background-color: themed($curTheme, "bgSoft");
        color: themed($curTheme, "textColor");

        .container {
            .item {
                background-color: themed($curTheme, "background");

                .headerItem {
                    color: themed($curTheme, "textColor");
                }
            }
        }
    }
    &.theme-light {
        $curTheme: "light";
        background-color: themed($curTheme, "bgSoft");
        color: themed($curTheme, "textColor");

        .container {
            .item {
                background-color: themed($curTheme, "background");

                .headerItem {
                    color: themed($curTheme, "textColor");
                }
            }
        }
    }
}

