@import '../../styles/responsive.scss';
@import '../../styles/theme.scss';
@import '../../components/Layout/sizeCoontainer.scss';

.settingsContainer {
    padding: 10px 20px;
    font-size: 0.875rem;
    overflow-y: hidden;
    height: calc(100vh - $topBar);

    .wrapper {
        height: 100%;
        overflow-y: auto;
        border-radius: 20px;
        padding: 10px;
        box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);

        @include mobile {
            padding: 10px;
        }
    }

    .wrapperSettings {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 40px;

        @include mobile {
            padding: 10px 15px;
        }

        .updateProfile {
            width: 100%;
        }

        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            position: relative;

            h1 {
                font-size: 1.25rem;
                font-weight: normal;
            }

            .successUpdate {
                position: absolute;
                width: 230px;
                top: -5px;
                left: 260px;
                margin: 0;
                padding: 5px;
                border-radius: 5px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 5px;
                background-color: #92d89680;
                color: #4dac52;

                @include mobile {
                    top: 25px;
                    left: 20px;
                }

                @include tablet {
                    top: 25px;
                    left: 20px;
                }

                .MuiAlert {
                    width: 25px;
                    height: 25px;
                }
            }
        }

        .fieldImg {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 20px;

            .preview {
                min-width: 80px;
                height: 80px;
                object-fit: cover;
                border-radius: 50%;
                align-self: flex-start;
            }

            .previewCover {
                width: 80px;
                height: 80px;
                object-fit: cover;
                align-self: flex-start;
            }

            .bgNonCover {
                background: linear-gradient(181.2deg, rgb(254, 254, 254) 10.5%, rgb(181, 239, 249) 86.8%);
                min-width: 80px;
                height: 80px;
                border-radius: 10px;
            }

            .wrapperFileInput {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 15px;
                margin: 0;
                margin-bottom: 20px;
                padding: 0;

                .headerFileInput {
                    font-size: 1rem;
                }

                .fileInput {
                    opacity: 0;
                    height: 0;
                    width: 0;
                    line-height: 0;
                    overflow: hidden;
                    padding: 0;
                    margin: 0;
                }

                .btnFileInput {
                    margin: 0;
                    padding: 7px;
                    border-radius: 5px;
                    background-color: #938eef;
                    color: white;
                    cursor: pointer;
                }
            }

        }

        .inputForm {
            padding: 10px;
            border-radius: 5px;
            background-color: transparent;
        }

        .wrapperSaveBtn {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .saveButton {
            background-color: #938eef;
            color: white;
            width: 25%;
            padding: 10px;
            align-self: center;

            @include mobile {
                width: 40%;
                align-self: center;
            }

            @include tablet {
                width: 40%;
            }
        }

        @media (hover: hover) {
            .saveButton:hover {
                background-color: rgb(153, 117, 188);
            }
        }

        .saveButton:active {
            background-color: rgb(130, 88, 171);
        }

        .saveButton:disabled {
            background-color: rgb(175, 175, 175);
        }
    }

    &.theme-dark {
        $curTheme: "dark";
        background-color: themed($curTheme, "bgSoft");
        color: themed($curTheme, "textColor");

        .inputForm {
            border: 1px solid themed($curTheme, "border");
            color: themed($curTheme, "textColor");
        }

        .wrapper {
            background-color: themed($curTheme, "background");
        }
    }

    &.theme-light {
        $curTheme: "light";
        background-color: themed($curTheme, "bgSoft");
        color: themed($curTheme, "textColor");

        .inputForm {
            border: 1px solid themed($curTheme, "border");
            color: themed($curTheme, "textColor");
        }

        .wrapper {
            background-color: themed($curTheme, "background");
        }
    }
}