@import '../../styles//theme.scss';
@import '../../styles/responsive.scss';

.main {
    display: flex;

    &.theme-dark {
        $curTheme: "dark";
        background-color: themed($curTheme, "bgSoft");
        color: themed($curTheme, "textColor");
    }
    &.theme-light {
        $curTheme: "light";
        background-color: themed($curTheme, "bgSoft");
        color: themed($curTheme, "textColor");
    }
}

.wrpapperOutlet {
    flex: 6;
}