@import '../../../styles/responsive.scss';
@import '../../../styles/theme.scss';

*:focus,
*:active {
    outline: none;
}

.wrapper {
    display: flex;
}

.wrapperIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer; 

    @include mobile {
        @supports (-webkit-touch-callout: none) and (not (translate: none)) {
            & > *:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}

.wrapper .icon {
    position: relative;
    background-color: inherit;
}

.wrapper .icon .users {
    position: absolute;
    display: none;
}

.img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.avatars {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    padding: 5px;

    @include mobile {
        @supports (-webkit-touch-callout: none) and (not (translate: none)) {
            & > *:not(:last-child) {
                margin-right: 5px;
            }
        }
    }
}

.wrapper .icon .users::before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    background-color: inherit;
    top: 90%;
    left: 11.5%;
    z-index: -1;
    transform: translate(-50%) rotate(45deg);
}

.wrapper .icon:hover .users {
    top: -65px;
    left: -10px;
    width: 190px;
    height: 60px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 5px;
    color: inherit;
    font-size: 0.75rem;
    z-index: 1;
}

.wrapper.theme-dark {
    $curTheme: "dark";
    .icon .users::before {
        border-right: 1px solid themed($curTheme, "border");
        border-bottom: 1px solid themed($curTheme, "border");
    }

    .icon:hover .users {
        background-color: themed($curTheme, "background");
        border: 1px solid themed($curTheme, "border");
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
    }
}

.wrapper.theme-light {
    $curTheme: "light";
    .icon .users::before {
        border-right: 1px solid themed($curTheme, "border");
        border-bottom: 1px solid themed($curTheme, "border");
    }

    .icon:hover .users {
        background-color: themed($curTheme, "background");
        border: 1px solid themed($curTheme, "border");
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    }
}

.like {
    color: red;
}

.textLike {
    font-size: 0.875rem;

    @include mobile {
        display: none;
    }
}

.mobileInfo {
    display: none;
    @include mobile {
        display: inline;
        font-size: 0.875rem;
    }
}
