@import '../../../styles/responsive.scss';
@import '../../../styles/theme.scss';

*:focus,
*:active {
    outline: none;
}

.wrapper .wrapperIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.wrapper .wrapperIcon .users {
    position: absolute;
    bottom: 32px;
    left: -5px;
    width: 195px;
    height: 65px;
    background-color: inherit;
    border-radius: 5px;
    font-size: 0.75rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.7s 0.3s;
}

.wrapper .wrapperIcon .users::before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    background-color: inherit;
    opacity: 0.9;
    top: 90%;
    left: 8%;
    transform: translate(-50%) rotate(45deg);
    z-index: -1;
}

.wrapper .wrapperIcon:hover .users {
    visibility: visible;
    opacity: 0.9;
}

.infoLike {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    @include mobile {
        @supports (-webkit-touch-callout: none) and (not (translate: none)) {
            & > *:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}

.wrapper .wrapperIcon .users p {
    padding-left: 7px;
}

.wrapper.theme-dark {
    $curTheme: "dark";
    .wrapperIcon .users::before {
        border-right: 1px solid themed($curTheme, "border");
        border-bottom: 1px solid themed($curTheme, "border");
    }

    .wrapperIcon .users {
        background-color: themed($curTheme, "background");
        border: 1px solid themed($curTheme, "border");
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
    }
}

.wrapper.theme-light {
    $curTheme: "light";
    .wrapperIcon .users::before {
        border-right: 1px solid themed($curTheme, "border");
        border-bottom: 1px solid themed($curTheme, "border");
    }

    .wrapperIcon .users {
        background-color: themed($curTheme, "background");
        border: 1px solid themed($curTheme, "border");
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    }
}

.img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.wrapper.theme-light {
    $curTheme: "light";
    .wrapperIcon .users .avatars .img {
        border: 1px solid themed($curTheme, "textColorSoft");
    }
}

.wrapper.theme-dark {
    $curTheme: "light";
    .wrapperIcon .users .avatars .img {
        border: 1px solid themed($curTheme, "textColorSoft");
    }
}

.avatars {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 7px;
    padding: 7px;

    @include mobile {
        @supports (-webkit-touch-callout: none) and (not (translate: none)) {
            & > *:not(:last-child) {
                margin-right: 7px;
            }
        }
    }
}

.like {
    color: red;
}

.textLike {
    font-size: 0.875rem;

    @include mobile {
        display: none;
    }
}

.mobileInfo {
    display: none;
    @include mobile {
        display: inline;
        font-size: 0.875rem;
    }
}

.wrapperUsers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 300px;
    min-width: 250px;
    gap: 10px;
    overflow: auto;

    @supports (-webkit-touch-callout: none) and (not (translate: none)) {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    .infoUser {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .avatar {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 15px;
        }

        .info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
            
        .link {
            margin: 0;
            padding: 0;
            cursor: pointer;
            text-decoration: none;
            color: inherit;
            font-size: 0.875rem;
            font-weight: 500;
        }

        .username {
            font-weight: 500;
            font-size: 0.875rem;
            margin-bottom: 5px;
        }
            
        .textOfCard {
            font-weight: 400;
            font-size: 0.875rem;
        }
    }

    &.theme-dark {
        $curTheme: "dark";
        background-color: themed($curTheme, "background");
        color: themed($curTheme, "textColor");

        hr {
            background-color: themed($curTheme, "border");
        }
    }

    &.theme-light {
        $curTheme: "light";
        background-color: themed($curTheme, "background");
        color: themed($curTheme, "textColor");

        hr {
            background-color: themed($curTheme, "border");
        }
    }
}
