@import '../../../styles/responsive.scss';

.addStory {
    position: absolute;
    bottom: 30px;
    left: 10px;
    color: white;
    background-color: #5271ff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1.7rem;
    display: inline-grid;
    align-items: center;
    cursor: pointer;

    @include mobile {
        left: 20px;
        right: 0;
        bottom: 3px;
        margin: auto;
        font-size: 1.4rem;
    }
}

.inox_gloss_blue {
    color:#fff;
    background-image: linear-gradient(#bdd7fa, #bababa);
    border:0px;
    border-radius:10px;
    padding:7px 25px;
    height: 100%;

    @include mobile {
        border-radius: 50%;
    }
}