@import '../../styles/theme.scss';
@import '../Layout/sizeCoontainer.scss';
@import '../../styles/responsive.scss';


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: $heightNav;
    position: sticky;
    top: 0;
    z-index: 1000;

    .leftSection {
        display: flex;
        align-items: center;
        gap: 30px;

        @include mobile {
            gap: 15px;

            @supports (-webkit-touch-callout: none) and (not (translate: none)) {
                &>*:not(:last-child) {
                    margin-right: 15px;
                }
            }
        }

        @include tablet {
            @supports (-webkit-touch-callout: none) and (not (translate: none)) {
                &>*:not(:last-child) {
                    margin-right: 30px;
                }
            }
        }
    }

    &.homeLink {
        text-decoration: none;
        color: #000;
    }

    .rigthSection {
        .userMenu {
            display: flex;
            align-items: center;
            gap: 20px;

            @include mobile {
                gap: 0;
            }

            @include mobile {
                display: none;
            }

            @include tablet {
                display: none;
            }

            .user {
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 500;

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
    }

    &.theme-dark {
        $curTheme: "dark";
        background-color: themed($curTheme, "background");
        color: themed($curTheme, "textColor");
        border-bottom: 1px solid themed($curTheme, "border");
    }

    &.theme-light {
        $curTheme: "light";
        background-color: themed($curTheme, "background");
        color: themed($curTheme, "textColor");
        border-bottom: 1px solid themed($curTheme, "border");
    }
}

.avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.textclassAvatar {
    cursor: pointer;
}

.themeSwitch {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}

.positionMenuUser {
    top: $heightNav;
    right: 0;
}