@import '../assets/fonts/fonts.css';


*,
*:before,
*:after,
html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

/* Работает в Firefox */
* {
    scrollbar-width: thin;
}

/* Работает в Chrome, Edge и Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-thumb {
    background-color: grey;
    /* цвет бегунка */
    border-radius: 20px;
    /* округлось бегунка */
    border: 3px solid rgb(215, 215, 215);
    /* отступ вокруг бегунка */
}

*::-webkit-scrollbar-button:vertical:start {
    display: none;
}

*::-webkit-scrollbar-button:vertical:end:increment {
    display: none;
}

.scroller {
    --scrollbar-color-thumb: rgb(215, 215, 215);
    --scrollbar-color-track: grey;
    --scrollbar-width: thin;
    --scrollbar-width-legacy: 10px;
}

/* Modern browsers with `scrollbar-*` support */
@supports (scrollbar-width: auto) {
    .scroller {
        scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
        scrollbar-width: var(--scrollbar-width);
    }
}

.App {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    width: 100vw;
    height: 100vh;
}