@import '../../styles/responsive.scss';
@import '../Layout/sizeCoontainer.scss';


.container {
    overflow-x: hidden;
    touch-action: pan-y; /* prevent browser's default behavior on swiping horizontally */
}

.stories {
    display: flex;
    gap: 10px;
    height: 200px;
    margin-bottom: 30px;
    max-width: 22vw;
    transition: transform 0.5s ease-out;

    @include mobile {
        height: 60px;
        margin-bottom: 20px;
        justify-content: flex-start;
    }

    @include tablet{
        height: 150px;
        gap: 10px;
        min-width: 130px;
        max-width: 40vw;
    }
}

.stories.is-swiping {
    transition: transform 0.3s ease-out;
}

.imgStory {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
