@import '../../styles/responsive.scss';
@import '../Layout/sizeCoontainer.scss';


.container {
    overflow-x: hidden;
    touch-action: pan-y; /* prevent browser's default behavior on swiping horizontally */
}

.stories {
    display: flex;
    gap: 10px;
    height: 200px;
    margin-bottom: 20px;
    max-width: 40vw;
    transition: transform 0.5s ease-out;

    @include mobile {
        height: 60px;
        justify-content: flex-start;
    }

    @include tablet{
        height: 150px;
        gap: 10px;
        min-width: 130px;
        max-width: 40vw;
    }
}

.stories.is-swiping {
    transition: transform 0.3s ease-out;
}

.imgStory {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.isErrorLoading {
    margin: 30px 0;
    padding: 10px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #d8929280;
    color: #ac4d4d;

    .MuiAlert {
        width: 22px;
        height: 22px;
        margin-right: 10px;
    }
}